* {
	box-sizing: border-box;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.btn {
	padding: 0;
}
.head-line {
	margin-top: 15px;
	height: 112px;
}
.logo {
	width: 235px;
	margin: auto;
	position: relative;
	padding-top: 10px;
}
.head-link {
	text-align: right;
	float: right;
	padding-right:15px;
}
.head-link strong {
    display: inline-block;
    text-transform: uppercase;
}
.head-link a {
	font-family: "RobotoRegular";
	text-decoration: underline;
}
.iso, .call-back {
    line-height: 21px;
    margin: 14px 0;
}
.address {
    margin: 15px 0 10px;
}
.address > a {
    font-size: 24px;
}
.menu-line {
	background-color: #007ec7;
	font-family: "RobotoCondensedRegular";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.navbar-brand {
	color:#fff;
	display: none;
}
.navbar-brand:hover {
	color:#fff;
}
.nav {
	margin: 0px; 
}
.nav li {
	border-right: 1px solid #268fcc;
}
.nav li > a {
	color:#fff;
}
.nav li > a:hover, .nav > li > a:focus {
	background-color: #0D5F8F; 
}
.first:hover {
	-webkit-border-radius: 9px 0 0 9px;
	-moz-border-radius: 9px 0 0 9px;
	border-radius: 9px 0 0 9px;
}
.navbar-form.navbar-right > a {
    color: #fff;
}
.navbar-form > .active {
	background-color: #0D5F8F;
	padding: 3px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}
.navbar-collapse {
    border-top: none;
    padding-left: 0px;
    padding-right: 15px;
	}
.navbar-toggle {
	margin: 0px 10px 0 0;
}
.search {
	position: relative;
}
.search .btn {
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 4px;
}


	 /*  ___________________________________________________
	 	 /  		*******	   MODAL    *******				/
	 	/__________________________________________________/ -*/
.model-content {
	background-color: #fff;
    margin: auto;
    width: 550px;
    margin-top: 200px;
    position: relative;
}
.modal-body .row {
	margin-bottom: 10px;
}
.modal-body .row input,
.modal-body .row textarea {
    width: 100%;
}

	 /*  ___________________________________________________
	 	 /  		*******	CAROUSEL *******				/
	 	/__________________________________________________/ -*/
.carousel-box {
	margin: 30px 15px 0;
	border: 1px solid #007EC7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.item {
    display: inline-block;
    margin-left: 10px;
	}
.items li {

	padding: 5px 17px;
	display: inline-block;
}
 /* 	  ___________________________________________________
	 	 /  		*******	Content  *******				/
	 	/__________________________________________________/ -*/
.main {
	margin-top: 30px;
}
.content h2 {
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
}
.sidebar .column {
    background-color: #e0e5e9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 3px 3px 10px 3px;
}
.panel-heading > a {
	background: url(../img/marker1.jpg) no-repeat;
	background-position: 0px 7px;
	padding-left: 7px;
}
.sidebar .column a {
    border-bottom: 1px dashed #000000;
    color: #525252;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    text-decoration: none;
}
.sidebar .column a:hover {
	color: #BE3A3A;
	border-bottom: 1px dashed #BE3A3A;
}
.sidebar .accord {
    display: inline-block;
}
.sidebar .accord li {
    display: block;
}
.sidebar .accord li a {
    background: url("../img/marker2.jpg") no-repeat scroll 1px 7px;
    color: #4c4949;
    font-size: 12px;
    margin-left: 13px;
    padding-left: 10px;
}
.tech {
	background-color: #B4D5EA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 44px;
	padding-bottom: 17px;
}
.t-item {
	width: 100%;
	float: left;
	position: relative;
}
.t-item img {
    padding: 20px;
    width: 100%;
}
.tech .caption:hover {
    color: #414b4f;
    text-decoration: none;
}
.tech .caption {
	text-decoration: underline;
    position: absolute;
    bottom: -23px;
    left: 5px;
    color: #313131;
    margin: 15px;
    font-weight: bold;
    font-size: 14px;
}
.ctgr {
	padding-bottom: 30px
}
.c-item {
	width: 100%;
	float: left;
	position: relative;
}
.c-item img {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
}
.ctgr .caption {
    bottom: -5px;
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    left: 5px;
    margin: 15px;
    position: absolute;
    text-decoration: underline;
}
.ctgr .caption:hover {
    color: #414b4f;
    text-decoration: none;
}
.col-size {
	padding:0px;
}
.rsidebar {
    margin-top: 32px;
}
.rsidebar .column {
	margin: 0 10px;
}
.rsidebar li {
	margin-bottom: 15px;
}
.rsidebar h3 {
    border-bottom: 3px solid grey;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
}
.consult {
	width: 100%;
}
.spec-pic {
	float: left;
	width: 30%
}
.spec-pic img {
	width: 100%;
	border:2px solid #ACACAC;
}
.spec-content {
	width: 70%;
	float: right;
}
.spec-content p {
	display: inline-block;
	font-size: 12px;
	margin: 0px;
	padding:5px;
	color: #3D3D3D;
	text-decoration: underline;
}
.spec-content p:hover {
	color: #f8af00;
}
 /* 	  ___________________________________________________
	 	 /  		*******	Footer   *******				/
	 	/__________________________________________________/ -*/

.contact {
    background-color: #007ec7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 0 15px;
    padding: 0;
    text-align: center;
}
.contact > h3 {
    float: left;
    margin: 20px 20px;
}
.place {
    margin: 9px;
}
.contact a {
	color: #fff;
	text-decoration: underline;
}
.contact a:hover {
	text-decoration: none;
}
.copyright, .footer-info {
	float: left;
}
.banners-bottom {
    border-top: 3px solid #cccccc;
    padding: 35px 0 40px;
    text-align: center;
}
.banner {
	display: inline-block;
	padding-right: 10px;
}
.footer {
	padding: 0px 15px;
	border-right:1px solid #dddddd;
	font-size: 12px;
}
.footer > strong {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.footer > p {
    margin-top: 0px;
}
.info > p {
	margin-top:10px;
}
.map {
	font-size: 16px;
	float: right;
	text-align: right;]

}