/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
	.items img {
    	display: block;
	    margin: auto;
	    width: 75%;
	}
	.items li{
		padding: 0 0 0 2px;
	}
	.nav li > a {
		font-size: 15px;
		-webkit-background-size: 27px;
		background-size: 27px;
		padding-left:38px;
		padding-right:7px;
		background-position: 6px 10px;
	}
	.nav li:nth-child(2) a {
		background-position: 6px -90px;
	}
	.nav li:nth-child(3) a {
		background-position: 6px -37px;
	}
	.nav li:nth-child(4) a {
		background-position: 6px -136px;
	}
	.nav li:nth-child(5) a {
		background-position: 6px -185px;
	}
	.nav li:nth-child(6) a {
		background-position: 6px -230px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.head-link {
	    float: right;
	    text-align: center;
	    width: 100%;
	}
	.nav li > a {
		font-size: 14px;
		-webkit-background-size: 24px;
		background-size: 24px;
		padding-left:28px;
		padding-right:4px;
		background-position: 2px 13px;
	}
	.nav li:nth-child(2) a {
		background-position: 2px -75px;
	}
	.nav li:nth-child(3) a {
		background-position: 2px -29px;
	}
	.nav li:nth-child(4) a {
		background-position: 2px -119px;
	}
	.nav li:nth-child(5) a {
		background-position: 2px -161px;
	}
	.nav li:nth-child(6) a {
		background-position: 2px -202px;
	}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-menu .container {
		padding: 0px;
	}
	.menu-line {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	}
	.first:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}
	.nav li {
	border-right: none;
	}
	.navbar-brand {
		display: block;
	}
	.navbar-collapse {
    padding-left: 5px;
    padding-right: 15px;
	}
	.model-content {
		width: 400px;
		font-size: 12px;
	}
	.head-link {
		text-align: center;
		padding-right:0px;
	}
	.map {
   	 	float: left;
    	text-align: left;
	}
	.footer {
	border-right:none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.model-content {
		width: 100%;
		font-size: 12px;
	}

	.contact {
	    -webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	    margin: 0;
	    min-width: 300px;
	}
	.tech {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}