/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top-menu li a {
		padding: 17px 10px 17px 10px;
		background-image: none;
	}
	.items img {
    	display: block;
	    margin: auto;
	    width: 75%;
	}
	.items li{
		padding: 0 0 0 2px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.head-link {
	    float: right;
	    text-align: center;
	    width: 100%;
	}
	.main-menu {
		display: none;
	}

	.btn-small {
		display: inline-block;
	}
	.top-menu a:hover {
	background-color: #007EC7;
	text-decoration: none;
	color:#fff;
	border-radius: 5px;
	}
	.search a,
	.search span {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.model-content {
		width: 400px;
		font-size: 12px;
	}
	.head-link {
		text-align: center;
		padding-right:0px;
	}
	.map {
   	 	float: left;
    	text-align: left;
	}
	.footer {
	border-right:none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.model-content {
		width: 100%;
		font-size: 12px;
	}
	.top-menu {
	   -webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	    margin: 0;
	    min-width: 300px;
	}
	.contact {
	    -webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	    margin: 0;
	    min-width: 300px;
	}
	.tech {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.drop-cont {
		display: none;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}